@model List<int>
<h1>Tabla de Multiplicar</h1>

<form method="post">
    <label>Ingrese un número:</label>
	<input type="text" name="numero" class="form-control" />
    <button class="btn btn-success">
		Calcular
	</button>
</form>

@if (Model != null)
{
	<ul>
		@foreach (int num in Model)
		{
			<li>@num</li>
		}
	</ul>
}